@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
* {
	margin: 0;
	padding: 0;
}
h1 {
	position: absolute;
	top: 20px;
	right: 40px;
	color: rgba(0,0,0,0.5);
	font-size: 10vh;
	font-family: 'Roboto Slab', serif;
}
p {
	font-family: 'Open Sans', sans-serif;
}
.fullscreen {
	display: flex;
	background-color: rgba(0,0,0,0.4);
	height: 100vh;
	z-index: 1;
}
.fullscreen-video {
	width: 100%;
	z-index: -1;
}
video {
	object-fit: cover;
}
section {
	position: absolute;
	left: 20px;
}
section:nth-of-type(1) {
	top: 10%;
}
section:nth-of-type(2) {
	top: 30%;
}
section:nth-of-type(3) {
	top: 50%;
}
section:nth-of-type(4) {
	top: 70%;
}
section a {
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	color: transparent;
	display: flex;
	justify-content: center;
	transition: color .5s;
}
section a:hover {
	opacity: .4;
}
.inner {
	box-sizing: border-box;
	padding: 10px;
	width: 466px;
	height: auto;
	background-color: rgb(7,218,165);
	border-radius: 10px;
	clip-path: circle(10% at 10% 50%);
	transition: all .5s ease-in-out;
	color: transparent;
}
.inner:hover {
	clip-path: circle(75%);
	background-color: #ff9800;
	color: black;
}
.inner a {
	color: transparent;
	transition: color .5s ease-in-out;
}
.inner:hover a {
	color: black;
}
.inner:hover .icon {
	opacity: 0;
}
.icon {
	font-size: 30px;
	color: white;
	position: absolute;
	top: calc(25% - 5px);
	width: 76px;
	height: 76px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	opacity: 1;
	cursor: pointer;
	transition: opacity .5s ease-in-out;
}
section:nth-of-type(1) .icon {
	background-image: url(27.webp);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
section:nth-of-type(2) .icon {
	background-image: url(https://cdn.icon-icons.com/icons2/1121/PNG/512/1486147202-social-media-circled-network10_79475.png);
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
section:nth-of-type(4) .icon {
	background-image: url(https://cdn3.iconfinder.com/data/icons/popular-services-brands-vol-2/512/discord-512.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
@media (min-width: 320px) and (max-width: 359px) {
	.inner {
		clip-path: circle(10% at 15% 45%);
	}
	.icon {
		left: 0;
	}
}
@media (min-width: 360px) and (max-width: 374px) {
	.inner {
		clip-path: circle(10% at 15% 45%);
	}
	.icon {
		left: 1%;
	}
}
@media (min-width: 375px) and (max-width: 424px) {
	.inner {
		clip-path: circle(10% at 13% 47%);
	}
	.icon {
		left: 1.5%;
	}
}
@media (min-width: 425px) and (max-width: 767px) {
	.icon {
		left: 2.5%;
	}
}
@media (max-width: 767px) {
	section {
		left: 0;
	}
	h1 {
		top: 0;
		right: 0;
		font-size: 5vh;
	}
	.inner {
		width: 100vw;
		clip-path: circle(10% at 11.5% 45%);
	}
}